h2{
    margin-top: 100px;
    text-align: center;
    position: relative;
    right: 45vh;
}

p{
    text-align: center; 
    right: 35vh;
    margin-top: 60px;
    position: relative;
    font-size: 5vh;
}

/*for the balancesheet*/
.Balance_container{
    display: flex;
    flex-direction: row;
}




.History_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin-left: 50vh;
}
input{
    height: 40px;
}