/*global styles*/

h2{
    font-size: 20px;
    margin-top: 100px;
    text-align: center;
    position: relative;
    right: 45vh;
}

h1{
    font-size: 30px;
}

p{
    text-align: center; 
    right: 1vh;
    margin-top: 30px;
    font-size: 5vh;
    margin-left: 50px;
}

/*for the balancesheet*/
.Balance_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.purchase-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Purchase-box{
    width: 400px;
    margin: auto;

}

.add-button{
    position: relative;
    margin-left: 320px;
    height: 1px;
}

.modal-dialog{
    max-width: 500px;
    max-height: 100px;
}
.modal-content{
    height: 300px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center horizontally */
    justify-content: center;  /* Center vertically */
    gap: 5px;  /* Space between input and button */
}


.btn.btn-success{
    margin-top: 30px;
    height: 50px;
    width: 100px;
}

/*For History*/
.History_container{
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding-right: 17vh;
    gap: 15px;
}

.History-box{
    margin-left: 150px;
    background-color: white;
    height: 30vh;
    width: 90vh;
    border: 1px solid black;
}

.empty{
    margin-top: 72px;
}

/*For purchased items*/
.input-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    margin-left: 500px;
}

input{
    width: 92vh;
    height: 40px;
}

label{
    text-align: left;
    margin-right: 24vh;
}

.purchased-btn{
    margin-left: 100vh;
}